#logo{
    background:linear-gradient(45deg,rgb(245, 142, 16),#fff,rgb(143, 209, 36));
    color: rgb(11, 89, 179);
    /* border: 1px solid black; */
    box-shadow: 0px 0px 3px black;
}

button{
    padding: 7px 20px 7px 20px;
    color: rgb(251, 243, 203);
    background-color: rgb(82, 148, 82);
    border: none;
    font-size: 18px;
    box-shadow: 0px 0px 5px rgb(132, 188, 47);
}
button:hover{

    background-color: rgb(55, 105, 55);
}

.step-row{
    width: 95%;
    height: 40px;
    margin:0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
    background-color: rgb(89, 149, 186);
    border-radius: 20px 20px;
}

.step-col{
    width: 180px;
    text-align: center;
    color: rgb(217, 236, 249);
    position: relative;
    padding:8px;
    border-radius: 30px 30px;
    transition: 0.5s;
}

/* .progress{
    position: absolute;
    height: 100%;
    width: 200px;
    border-radius: 30px 30px;
    transition: 1s;
    background: linear-gradient(to right,rgb(19, 60, 100),rgb(19, 60, 100),rgb(19, 60, 100));
} */

@media screen and (max-width:1038px){
    #stepr1{
        /* display: none; */
    }
    #leftLogo #logo{
        display: none;
    }
    .step-row{
        width: 100%;
        height: 20px;
        margin:0 auto;
        display: flex;
        align-items: center;
        box-shadow: 0 -1px 5px -1px #000;
        position: relative;
        background-color: rgb(89, 149, 186);
        border-radius: 20px 20px;
    }
    
    .step-col{
        width: 180px;
        text-align: center;
        color: rgb(217, 236, 249);
        position: relative;
        font-size: 10px;
        padding: 2px 0px 3px 0px;
        
    }
    
}


#footer1{
    position: fixed;
    bottom: 10px;
    right:150px;
}

#footer2{
    position: fixed;
    bottom: 10px;
    right:10px;
}

.navbar{
    background: linear-gradient(45deg,rgb(49, 139, 194),rgb(14, 75, 113));
}

#viewApp{
    color: aliceblue;
    box-shadow: 0px 0px 0px rgb(41, 137, 200);
    background:linear-gradient(to right,rgb(83, 171, 223),rgb(12, 144, 233));
}

#viewApp:hover{
    color: white;
    box-shadow: 0px 0px 5px rgb(41, 137, 200);
    background:linear-gradient(to right,rgb(73, 168, 223),rgb(11, 103, 163));
}